.barchartDiv {
  path {
    fill: none;
  }
  text {
    color: #AAA;
  }
}

$boston: #ED7164;
$hefei: #5258F7;

.boston {
  fill: $boston;
}

.hefei {
  fill: $hefei;
}

#MapPlot1 {
  path {
    fill:  #ED7164;
  }
}

#MapPlot2 {
  path{
    fill: #5258F7;
  }
}
